@tailwind base;
@tailwind components;
@tailwind utilities;




html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

html {
  background-color: #ffffff !important;
  color: #000000 !important;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}

::-webkit-scrollbar-track {
  background: #e0e0e0 !important;
  border-radius: 10px !important;

}

::-webkit-scrollbar-thumb {
  background: #2563eb !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: 353572 !important;
}


.hide-scrollbar ::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  background-color: transparent !important;

}


.full-screen{
  @apply absolute -top-[16.98vh] md:-top-[10vh] md:-left-[20vw] w-[100vw] h-[100vh] bg-black border-r-0 z-50;
}

.sm-video {
  @apply bg-black h-[30vh] md:h-3/5 w-full md:rounded-lg;
}